{
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/confirmation/header.png",
      "fileBody" : "/interface/confirmation/body.png",
      "fileFooter" : "/interface/confirmation/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Required Mods",
      "subtitle" : "^#b9b5b2;This mod depends on other Workshop items",
      "size" : 12
    },
    "message" : {
      "type" : "label",
      "position" : [125, 118],
      "hAnchor" : "mid",
      "vAnchor" : "top",
      "wrapWidth" : 230,
      "fontSize" : 8,
      "value" : "",
      "mouseTransparent" : true
    },
    "subscribeAll" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "All",
      "fontSize" : 7,
      "position" : [12, 8]
    },
    "justThis" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Just this",
      "fontSize" : 7,
      "position" : [98, 8]
    },
    "cancel" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Cancel",
      "fontSize" : 7,
      "position" : [184, 8]
    }
  }
}
