{
  "changelogUrl" : "https://steamcommunity.com/sharedfiles/filedetails/changelog/{}",

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/confirmation/header.png",
      "fileBody" : "/interface/confirmation/body.png",
      "fileFooter" : "/interface/confirmation/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Mods Updated",
      "subtitle" : "^#b9b5b2;Since you last played",
      "size" : 12
    },
    "modsArea" : {
      "type" : "scrollArea",
      "rect" : [10, 38, 240, 122],
      "children" : {
        "list" : {
          "type" : "list",
          "callback" : "null",
          "position" : [1, -1],
          "schema" : {
            "selectedBG" : "/interface/modsmenu/modbackground.png",
            "unselectedBG" : "/interface/modsmenu/modbackground.png",
            "spacing" : [0, 1],
            "memberSize" : [218, 18],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/modsmenu/modbackground.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "name" : {
                "type" : "label",
                "position" : [4, 9],
                "hAnchor" : "left",
                "vAnchor" : "mid",
                "fontSize" : 8,
                "value" : ""
              },
              "changelog" : {
                "type" : "button",
                "callback" : "null",
                "base" : "/interface/button.png",
                "hover" : "/interface/buttonhover.png",
                "pressed" : "/interface/buttonactive.png",
                "caption" : "Log",
                "fontSize" : 7,
                "position" : [162, 2]
              }
            }
          }
        }
      }
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Close",
      "fontSize" : 7,
      "position" : [184, 8]
    }
  }
}
