{
  "changelogUrl" : "https://steamcommunity.com/sharedfiles/filedetails/changelog/{}",

  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/workshopmenu/updatesheader.png",
      "fileBody" : "/interface/workshopmenu/updatesbody.png",
      "fileFooter" : "/interface/workshopmenu/updatesfooter.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "Mods Updated",
      "subtitle" : "^#b9b5b2;Since you last played",
      "size" : 12
    },
    "modsArea" : {
      "type" : "scrollArea",
      "rect" : [4, 36, 256, 143],
      "children" : {
        "list" : {
          "type" : "list",
          "callback" : "openChangelog",
          "position" : [1, -1],
          "schema" : {
            "selectedBG" : "/interface/workshopmenu/updaterowselected.png",
            "unselectedBG" : "/interface/workshopmenu/updaterow.png",
            "spacing" : [0, 1],
            "memberSize" : [240, 18],
            "listTemplate" : {
              "background" : {
                "type" : "image",
                "file" : "/interface/workshopmenu/updaterow.png",
                "position" : [0, 0],
                "zlevel" : -1
              },
              "name" : {
                "type" : "label",
                "position" : [5, 9],
                "hAnchor" : "left",
                "vAnchor" : "mid",
                "fontSize" : 8,
                "value" : ""
              },
              "hint" : {
                "type" : "label",
                "position" : [228, 9],
                "hAnchor" : "right",
                "vAnchor" : "mid",
                "fontSize" : 7,
                "color" : "#b9b5b2",
                "value" : "Changelog >"
              }
            }
          }
        }
      }
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/button.png",
      "hover" : "/interface/buttonhover.png",
      "pressed" : "/interface/buttonactive.png",
      "caption" : "Close",
      "fontSize" : 7,
      "position" : [202, 20]
    }
  }
}
